.App {
	width: calc(100vw - (100vw - 100%));
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.app--section {
	width: 98vw;
	min-height: 100vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	margin-inline: 0 auto;
}

.comment-container {
	width: 360px;
	min-height: 300px;
	border: 2px solid green;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	padding: 10px 20px;
	border-radius: 8px;
	margin: 5px;
	font-family: "Courier New", Courier, monospace;
	text-align: center;
}
.comment-email {
}
.comment-name {
	text-transform: uppercase;
}
.comment-body {
}
